body {
    background-color: darkgreen;
}

.container {
    margin-top: 3rem;
}

.col-12 h1 {
    color: white;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 0.5rem;
}

.col-12 p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.card {
    height: 170px;
    max-width: 120px;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 0;
    background-color: white;
    border: 1px solid black;
    transition: transform .3s;
    transform-style: preserve-3d;
}

.card__front, .card__back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card__front {
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__front i {
    font-size: 75px;
}

.card__back {
    transform: rotateY(0deg);
}

.card__back img {
    max-width: 100%;
}

.col-2.card.found {
    transform: rotateY(180deg);
}

.showPoints {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}